<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

  <title>Project Catalog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
      <div class="inner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="{{url_for('showCatalog')}}">PROJECT CATALOG</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% if request.path == '/catalog/' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('showCatalog')}}">Catalog</a>
              </li>
              <li class="nav-item {% if request.path == '/API/' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('showAPI')}}">API</a>
              </li>
            </ul>
            <form class="d-flex" method="GET" enctype="multipart/form-data" action="/search/q">
              <input class="form-control" type="text" placeholder="Search.." name="search">
              <button class="search-btn style=" width:10%!important" type="submit"><i class="fa fa-search"></i></button>
            </form>
            {%if 'access_token' not in session %}
            <a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
            {% else %}
            <a class="nav-link" href="{{ url_for('disconnect') }}">Logout </a>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
      <div class="row">
        <div class="col-md-12 text-center pt-1">&nbsp;
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <span class="small message_flash">
            {{ message }}
          </span>
          <script>
            (function() {
              setTimeout(function() {
                (function fadeOutEffect() {
                  var fadeTarget = document.querySelector(".message_flash");
                  var fadeEffect = setInterval(function() {
                    if (!fadeTarget.style.opacity) {
                      fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                      fadeTarget.style.opacity -= 0.1;
                    } else {
                      clearInterval(fadeEffect);
                      var elem = document.querySelector('.message_flash');
                      elem.parentNode.removeChild(elem);
                    }
                  }, 75);
                })()
              }, 3000);
            })()
          </script>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>