<!-- The top of file index.html -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

  <title>Catalog Login</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

  <!-- BEGIN Google oauth pre-requisites -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
  <!-- END Pre-requisites -->
  <!-- Continuing the <head> section -->
  <script>
    function start() {
      gapi.load("auth2", function() {
        auth2 = gapi.auth2.init({
          scope: "openid email",
          client_id: "1030641806580-jul4piq11a8a4pthcr4hiejua62olf43.apps.googleusercontent.com",
          redirecturi: "postmessage",
          accesstype: "offline",
          cookiepolicy: "single_host_origin",
          callback: "signInCallback",
          approvalprompt: "force"
        });
      });
    }
  </script>
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="masthead">
      <div class="inner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="{{url_for('showCatalog')}}">PROJECT CATALOG</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('showCatalog')}}"><span class="sr-only">(current)</span>Catalog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>


    <main role="main" class="inner cover">
      <div class="row">

        <div class="col-md-12 mt-5">
          <h1 class="cover-heading mt-5">Categorize The World</h1>
          <p class="lead mt-4">Project Catalog is a webapp for organizing everything into categories. Sign in with Google or Facebook to add, update, and delete your own categories and items.</p>
        </div>
        <div class="col-md-12 mt-3 d-flex justify-content-center">

          <button type="submit" id="signinButton" style="border: 0; padding: 0; margin:0; background: transparent;">
            <img src="{{url_for('static', filename='btn_google_signin_dark_normal_web.png')}}" alt="Sign in with Google" />
          </button>

        </div>
        <div class="col-md-12 mt-3 d-flex justify-content-center">


          <!--FACEBOOK SIGN IN -->

          <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId: "461166471129071",
                cookie: true, // enable cookies to allow the server to access
                // the session
                xfbml: true, // parse social plugins on this page
                version: "v2.2" // use version 2.2
              });
            };

            (function(d, s, id) {
              // Load the SDK asynchronously
              var js,
                fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            })(document, "script", "facebook-jssdk");

            function sendTokenToServer() {
              // Here we run a very simple test of the Graph API after login is successful.
              // See statusChangeCallback() for when this call is made.
              var access_token = FB.getAuthResponse()["accessToken"];
              console.log(access_token);
              // console.log("Welcome!  Fetching your information.... ");
              FB.api("/me", function(response) {
                // console.log("Successful login for: " + response.name);
                let data = JSON.stringify({
                  access_token: access_token,
                  state: "{{STATE}}"
                });

                fetch("/fbconnect", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/octet-stream; charset=UTF-8"
                    },
                    body: data
                  }).then(response => {
                    if (response.ok) {
                      document.getElementById("result").innerHTML =
                        "Login Successful!</br>Redirecting...";
                      setTimeout(() => {
                        window.location.href = "/";
                      }, 1);
                    } else if (FB.getAuthResponse()["error"]) {
                      console.log("There was an error: " + FB.getAuthResponse()["error"]);
                    } else {
                      document.getElementById("result").innerHTML =
                        "Failed to make a server-side call. Check your configuration and console.";
                    }
                  })
                  .catch(error => console.error("Error:", error));

              });
            }
          </script>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0&appId=461166471129071&autoLogAppEvents=1"></script>
          <button type="submit" style="border:0; padding:0; margin:0; background:transparent; width=102px;!important" class="fb-login-button" data-max-rows="1" data-width="102px" data-size="medium" data-onlogin="sendTokenToServer();"
            scope="public_profile,email" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false">
          </button>
          <!--
            END FACEBOOK SIGN IN -->
        </div>


      </div>

      <div class="col-md-
        12 mt-3 d-flex justify-content-
        center">
        <div id="result"></div>
        <script>
          function signInCallback(authResult) {
            if (authResult["code"]) {
              const data = JSON.stringify({
                code: authResult["code"],
                state: "{{STATE}}",
                provider: "google"
              });

              fetch("/gconnect", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/octet-stream; charset=UTF-8"
                  },
                  body: data
                })
                .then(response => {
                  if (response.ok) {
                    document.getElementById("result").innerHTML =
                      "Login Successful!</br>Redirecting...";
                    setTimeout(() => {
                      window.location.href = "/";
                    }, 1);
                  } else if (authResult["error"]) {
                    console.log("There was an error: " + authResult["error"]);
                  } else {
                    document.getElementById("result").innerHTML =
                      "Failed to make a server-side call. Check your configuration and console.";
                  }
                })
                .catch(error => console.error("Error:", error));
            }
          }
        </script>
        <script>
          document
            .getElementById("signinButton")
            .addEventListener("click", function() {
              // signInCallback defined in step 6.
              auth2.grantOfflineAccess().then(signInCallback);
            });
        </script>
      </div>


  </div>
  </main>


  {% include "footer.html" %}